@using Roomed.Data.Models.Enums;

@using static Roomed.Common.GlobalConstants

@model IdentityDocumentInputModel

@{
	ViewData["Title"] = "Create ID";
}

@section Topbar {
	<a class="btn btn-primary btn-sm rounded-pill mr-2" asp-area="" asp-controller="@Controllers.IdentityDocuments" asp-action="@Actions.Index">All identity documents</a>
}
<div>
	<h1 class="display-4 mb-4 text-center">Create identity document</h1>
	<form id="identity-document-form" asp-area="" asp-controller="@Controllers.IdentityDocuments" asp-action="@Actions.Create">
		<div class="form-row">
			<div class="form-group col">
				<label asp-for="@Model.Type">Document type <span class="text-danger">*</span></label>
				<select class="form-control" asp-for="@Model.Type" asp-items="@DocumentTypes()"></select>
				<span class="form-text text-danger" asp-validation-for="@Model.Type"></span>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col">
				<label asp-for="@Model.OwnerId">Owner <span class="text-danger">*</span></label>
				<select class="selectpicker form-control" data-style="form-control border" data-size="5" data-live-search="true" asp-for="@Model.OwnerId">
					<option value="" disabled selected>Select document owner</option>
					@foreach (var profile in ViewBag.Profiles)
					{
						string icon = profile.Gender == Gender.Female ? "fa-solid fa-person-dress" : "fa-solid fa-person";
						string text = profile.FullName;
						text += profile.Nationality == null ? "" : $" - {profile.Nationality}";
						text += profile.Gender == null ? "" : $" - {profile.Gender}";

						<option value="@profile.Id" data-icon="@icon">@text</option>
					}
				</select>
				<span class="form-text">
					Can't find the guest. Create him
					<a id="create-profile-link" asp-area="" asp-controller="@Controllers.Profiles" asp-action="@Actions.Create"
					   asp-route-ReturnUrl="@Url.ActionLink(Actions.Create, Controllers.IdentityDocuments)">here</a>.
				</span>
				<span class="form-text text-danger" asp-validation-for="@Model.OwnerId"></span>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label asp-for="@Model.NameInDocument">Name in document <span class="text-danger">*</span></label>
				<input class="form-control" asp-for="@Model.NameInDocument">
				<span class="form-text text-danger text-danger" asp-validation-for="@Model.NameInDocument"></span>
			</div>
			<div class="form-group col-md-6">
				<label asp-for="@Model.Country">Country <span class="text-danger">*</span></label>
				<input class="form-control" asp-for="@Model.Country">
				<span class="form-text text-danger" asp-validation-for="@Model.Country"></span>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label asp-for="@Model.DocumentNumber">Document number <span class="text-danger">*</span></label>
				<input class="form-control" asp-for="@Model.DocumentNumber">
				<span class="form-text text-danger" asp-validation-for="@Model.DocumentNumber"></span>
			</div>
			<div class="form-group col-md-6">
				<label asp-for="@Model.Nationality">Nationality <span class="text-danger">*</span></label>
				<select class="selectpicker form-control" data-style="form-control border" data-live-search="true" asp-for="@Model.Nationality" asp-items="@NationalitiesSelectList()">
					<option value="" selected disabled hidden>Choose here</option>
				</select>
				<span class="form-text text-danger" asp-validation-for="@Model.Nationality"></span>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label asp-for="@Model.PersonalNumber">Personal number</label>
				<input class="form-control" asp-for="@Model.PersonalNumber">
				<span class="form-text text-danger" asp-validation-for="@Model.PersonalNumber"></span>
			</div>
			<div class="form-group col-md-6">
				<label asp-for="@Model.PlaceOfBirth">Place of birth <span class="text-danger">*</span></label>
				<input class="form-control" asp-for="@Model.PlaceOfBirth">
				<span class="form-text text-danger" asp-validation-for="@Model.PlaceOfBirth"></span>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label asp-for="@Model.Birthdate">Birthdate <span class="text-danger">*</span></label>
				<input class="form-control" asp-for="@Model.Birthdate">
				<span class="form-text text-danger" asp-validation-for="@Model.Birthdate"></span>
			</div>
			<div class="form-group col-md-6">
				<label asp-for="@Model.IssuedBy">Issued by <span class="text-danger">*</span></label>
				<input class="form-control" asp-for="@Model.IssuedBy">
				<span class="form-text text-danger" asp-validation-for="@Model.IssuedBy"></span>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label asp-for="@Model.ValidFrom">Valid from <span class="text-danger">*</span></label>
				<input class="form-control" asp-for="@Model.ValidFrom">
				<span class="form-text text-danger" asp-validation-for="@Model.ValidFrom"></span>
			</div>
			<div class="form-group col-md-6">
				<label asp-for="@Model.ValidUntil">Valid until <span class="text-danger">*</span></label>
				<input class="form-control" asp-for="@Model.ValidUntil">
				<span class="form-text text-danger" asp-validation-for="@Model.ValidUntil"></span>
			</div>
		</div>
		<button type="submit" class="btn btn-primary mb-2">Create</button>
	</form>
</div>

@section Scripts {
	<script src="~/js/views/identityDocuments/create.js"></script>
	<partial name="_ValidationScriptsPartial" />
}