@using Roomed.Data.Models.Enums;

@model IEnumerable<IdentityDocumentViewModel>

@{
	ViewData["Title"] = "Identity documents";
}

<div class="text-center">
	<h1 class="display-4 mb-4">Identity documents</h1>
	@foreach (var identityDocument in Model)
	{
		<div class="card rounded-lg mb-3">
			<div class="card-header">
				<b>@identityDocument.NameInDocument</b>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col col-auto text-center">
						<h5>@identityDocument.Type</h5>
						@switch (identityDocument.Type)
						{
							case IdentityDocumentType.Id:
								<img class="img rounded border-0" width="50" height="50" src="/assets/images/id-card.png" alt="id_card">
								break;
							case IdentityDocumentType.Passport:
								<img class="img rounded border-0" width="50" height="50" src="/assets/images/passport.png" alt="passport">
								break;
							case IdentityDocumentType.DrivingLicense:
								<img class="img rounded border-0" width="50" height="50" src="/assets/images/driver-license.png" alt="driving_license">
								break;
						}
					</div>
					<div class="col col align-self-center text-left">
						<p class="card-text">The number of the identity document is: <b>@identityDocument.DocumentNumber</b></p>
						<p class="card-text">It is valid from <b>@identityDocument.ValidFrom</b> until <b>@identityDocument.ValidUntil</b></p>
					</div>
					<div class="col-2">
						<div class="btn-group-vertical">
							<a href="#" class="btn btn-success mb-1">Details</a>
							<a href="#" class="btn btn-warning mb-1">Edit</a>
							<a href="#" class="btn btn-danger">Delete</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>
