@using Roomed.Data.Models.Enums;

@model IEnumerable<IdentityDocumentViewModel>

@{
	ViewData["Title"] = "Identity documents";
}

@section Topbar {
	<a class="btn btn-primary btn-sm rounded-pill mr-2" asp-area="" asp-controller="@Controllers.IdentityDocuments" asp-action="@Actions.Index">All documents</a>
	<a class="btn btn-success btn-sm rounded-pill mr-2" asp-area="" asp-controller="@Controllers.IdentityDocuments" asp-action="@Actions.Create">Create identity document</a>
	<a class="btn btn-warning btn-sm rounded-pill" asp-area="" asp-controller="@Controllers.IdentityDocuments" asp-action="@Actions.Create">Search</a>
}

<div class="text-center">
	<h1 class="display-4 mb-4">Identity documents</h1>
	@foreach (var identityDocument in Model)
	{
		<div class="card rounded-lg mb-3">
			<div class="card-header bg-primary text-light">
				<b>@identityDocument.NameInDocument</b>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col col-auto text-center">
						<h5>@identityDocument.Type</h5>
						<partial name="_IdentityDocumentIconPartial"
							 model="@new IdentityDocumentIconViewModel() { Type = identityDocument.Type, Width = 50, Height = 50}" />
					</div>
					<div class="col col align-self-center text-left">
						<p class="card-text">The number of the identity document is: <b>@identityDocument.DocumentNumber</b></p>
						<p class="card-text">It is valid from <b>@identityDocument.ValidFrom</b> until <b>@identityDocument.ValidUntil</b></p>
					</div>
					<div class="col-2">
						<div class="btn-group-vertical">
							<a class="btn btn-success mb-1 rounded" 
								asp-area="" asp-controller="@Controllers.IdentityDocuments" asp-action="@Actions.Details" asp-route-id="@identityDocument.Id">
								Details
							</a>
							<a class="btn btn-warning mb-1 rounded"
								asp-area="" asp-controller="@Controllers.IdentityDocuments" asp-action="@Actions.Edit" asp-route-id="@identityDocument.Id">
								Edit
							</a>
							<form method="get" asp-area="" asp-controller="@Controllers.IdentityDocuments" asp-action="@Actions.Delete" asp-route-id="@identityDocument.Id">
								<button class="btn btn-danger mb-1 rounded">Delete</button>
								<input type="hidden" readonly value="@identityDocument.Id" asp-for="@identityDocument.Id" />
								<input type="hidden" readonly value="@identityDocument.NameInDocument" asp-for="@identityDocument.NameInDocument" />
								<input type="hidden" readonly value="@identityDocument.DocumentNumber" asp-for="@identityDocument.DocumentNumber" />
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>
