@model IEnumerable<ReservationViewModel>

@{
    ViewData["Title"] = "Reservations";
}

@section Topbar {
    <a class="btn btn-primary btn-sm rounded-pill mr-2" asp-area="" asp-controller="@Controllers.Reservations" asp-action="@Actions.Create">Create reservation</a>
}

@if (Model.Count() < 1)
{
    <div class="text-center">
        <h1 class="display-4">@ViewData["ReservationsType"] Reservations</h1>
        <h4>No reservations to show</h4>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">@ViewData["ReservationsType"] Reservations</h1>
        <table id="reservations-table" class="table table-bordered table-hover">
            <thead class="thead bg-primary text-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Room №</th>
                    <th scope="col">Name</th>
                    <th scope="col">Arrival</th>
                    <th scope="col">Departure</th>
                    <th scope="col">Status</th>
                    <th scope="col">Room Type</th>
                </tr>
            </thead>
            <tbody id="reservations-table-body">
                @{
                    int i = 1;
                }
                @foreach (var reservation in Model)
                {
                    var today = DateOnly.FromDateTime(DateTime.Today);

                    var reservationDayToday = reservation
                        .ReservationDays
                        .FirstOrDefault(rd => rd.Date == today);

                    <tr class="reservation-row" data-id="@reservation.Id">
                        <th scope="row">@(i++)</th>
                        <td>@(reservationDayToday?.Room?.Number ?? "_")</td>
                        <td>@($"{reservation.ReservationHolder.FirstName} {reservation.ReservationHolder.LastName}")</td>
                        <td>@reservation.ArrivalDate</td>
                        <td>@reservation.DepartureDate</td>
                        <td>@reservation.Status</td>
                        <td>@reservation.RoomType.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@section Scripts {
    <script src="~/js/controllers/reservations/index.js"></script>
}