@model ErrorViewModel

@{
	Layout = "_CleanLayout";
	ViewData["Title"] = $"Error {Model.StatusCode}";
}
<h1 class="text-center text-dark position-absolute"style="top: 20%; left: 50%; transform: translate(-50%, -50%);">
	Ooops, this wasn't supposed to happen.
</h1>
<div class="container position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
	<div class="row">
		<div class="col-md-6 align-self-center">
			@{
				var imageName = Model.StatusCode?.ToString() ?? "error";
				var imageWidth = imageName == "error" ? 350 : 400;
				var imageHeight = imageName == "error" ? 350 : 200;
				string imagePath = $"/assets/images/httpStatusCodes/{imageName}.png";
			}

			<img class="img border-0" width="@imageWidth" height="@imageHeight" src="@imagePath" alt="error-img">
		</div>
		<div class="col-md-6 align-self-center text-center">
			<h1 class="text-dark">@Model.Title</h1>
			<h3 class="text-dark">@Model.Message</h3>

			@if (Model.ShowRequestId)
			{
				<h5 class="text-dark">To help fix this problem faster please send this id <b>@Model.RequestId</b> to the system administrator or contact the support team.</h5>
			}
			<a class="btn btn-dark" href='javascript:history.go(-1)'>Back</a>
		</div>
	</div>
</div>