@using static Roomed.Common.Constants.GlobalConstants;

@model UserInputModel;

@{
	var allRoles = ViewData["AllRoles"] as IEnumerable<string> ?? new List<string>();
}

<div class="card rounded-lg mb-3">
	<div class="card-header text-dark">
		<b>@Model.Email</b>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col col-auto text-center my-auto">
				<img class="img rounded border-0 " width="50" height="50" src="@AnonymousImagePath" alt="anonymous">
			</div>
			<div class="col align-self-center">
				<form class="form" asp-area="@Areas.Administration" asp-controller="@Controllers.Users" asp-action="@Actions.Edit">
					<input type="hidden" readonly value="@Model.Id" asp-for="@Model.Id" />
					@{
						MultiSelectList selectList = new(
						allRoles.Select(r => new SelectListItem() { Value = r, Text = r }),
						"Value",
						"Text",
						Model.Roles
						);
					}

					<div class="form-row">
						<div class="form-group mr-1 col">
							<div class="row">
								<div class="col">
									<label class="mr-1 font-weight-bold" asp-for="@Model.Roles">Roles <span class="text-danger">*</span></label>
									<select class="selectpicker form-control" multiple data-style="form-control border"
											asp-for="@Model.Roles" asp-items="@selectList">
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col text-left">
									<span class="form-text text-danger" asp-validation-for="@Model.Roles"></span>
								</div>
							</div>
						</div>

						<div class="form-group mr-1 col">
							<div class="row">
								<div class="col">
									<label class="mr-1 font-weight-bold" asp-for="@Model.Email">Email</label>
									<input class="form-control" value="@Model.Email" asp-for="@Model.Email">
								</div>
							</div>
							<div class="row">
								<div class="col text-left">
									<span class="form-text text-danger" asp-validation-for="@Model.Email"></span>
								</div>
							</div>
						</div>

						<div class="form-group mr-1 col">
							<div class="row">
								<div class="col">
									<label class="mr-1 font-weight-bold" asp-for="@Model.UserName">Username</label>
									<input class="form-control" value="@Model.UserName" asp-for="@Model.UserName">
								</div>
							</div>
							<div class="row">
								<div class="col text-left">
									<span class="form-text text-danger" asp-validation-for="@Model.UserName"></span>
								</div>
							</div>
						</div>

						<div class="form-group col-auto">
							<div class="row">
								<div class="col mb-1">
									<button type="submit" class="btn btn-warning">Edit</button>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<a class="btn btn-success"
										asp-area="@Areas.Administration" asp-controller="@Controllers.Users"
										asp-action="@Actions.Details" asp-route-id="@Model.Id">Details</a>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>