@using Roomed.Data.Models;

@model IEnumerable<UserInputModel>

@{
	ViewData["Title"] = "Users";
}

@section Topbar {
	<a class="btn btn-primary btn-sm rounded-pill mr-2" asp-area="" asp-controller="@Controllers.Users" asp-action="@Actions.Create">Create user</a>
	<a class="btn btn-warning btn-sm rounded-pill" asp-area="" asp-controller="@Controllers.Home" asp-action="@Actions.NotImplemented">Search</a>
}

<div class="text-center">
	<h1 class="display-4 mb-4">Users</h1>
	@foreach (var user in Model)
	{
		<partial name="_UserEditCardPartial" model="@user" view-data="ViewData" />
	}
</div>