@using static Roomed.Common.GlobalConstants

@model DetailedProfileInputModel

@{
	ViewData["Title"] = "Create guest profile";
}

@section Topbar {
	<a class="btn btn-primary btn-sm rounded-pill mr-2" asp-area="" asp-controller="@Controllers.Profiles" asp-action="@Actions.Index">All profiles</a>
}

<div>
	<h1 class="display-4 mb-4 text-center">Create guest profile</h1>
	<form asp-area="" asp-controller="@Controllers.Profiles" asp-action="@Actions.Create">
		<input type="hidden" name="returnUrl" id="returnUrl" readonly value="@ViewBag.ReturnUrl" />
		<div class="form-row">
			<div class="form-group col-md-6">
				<label asp-for="@Model.FirstName">First name <span class="text-danger">*</span></label>
				<input class="form-control" asp-for="@Model.FirstName">
				<span class="form-text text-danger" asp-validation-for="@Model.FirstName"></span>
			</div>
			<div class="form-group col-md-6">
				<label asp-for="@Model.LastName">Last name <span class="text-danger">*</span></label>
				<input class="form-control" asp-for="@Model.LastName">
				<span class="form-text text-danger text-danger" asp-validation-for="@Model.LastName"></span>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label asp-for="@Model.Birthdate">Birthdate <span class="text-danger">*</span></label>
				<input class="form-control" asp-for="@Model.Birthdate">
				<span class="form-text text-danger" asp-validation-for="@Model.Birthdate"></span>
			</div>
			<div class="form-group col-md-6">
				<label asp-for="@Model.MiddleName">Middle name</label>
				<input class="form-control" asp-for="@Model.MiddleName">
				<span class="form-text text-danger" asp-validation-for="@Model.MiddleName"></span>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label asp-for="@Model.Nationality">Nationality <span class="text-danger">*</span></label>
				<select class="selectpicker form-control" data-style="form-control border" data-live-search="true" asp-for="@Model.Nationality" asp-items="@NationalitiesSelectList()">
					<option value="" selected disabled hidden>Choose nationality</option>
				</select>
				<span class="form-text text-danger" asp-validation-for="@Model.Nationality"></span>
			</div>
			<div class="form-group col-md-6">
				<label asp-for="@Model.NationalityCode">Nationality code <span class="text-danger">*</span></label>
				<select class="selectpicker form-control" data-style="form-control border" data-live-search="true" asp-for="@Model.NationalityCode" asp-items="@NationalityCodesSelectList()">
					<option value="" selected disabled hidden>Choose nationality code</option>
				</select>
				<span class="form-text text-danger" asp-validation-for="@Model.NationalityCode"></span>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label asp-for="@Model.Gender">Gender <span class="text-danger">*</span></label>
				<select class="form-control" asp-for="@Model.Gender" asp-items="@Genders()"></select>
				<span class="form-text text-danger" asp-validation-for="@Model.Gender"></span>
			</div>
			<div class="form-group col-md-6">
				<label asp-for="@Model.Address">Address</label>
				<input class="form-control" asp-for="@Model.Address">
				<span class="form-text text-danger" asp-validation-for="@Model.Address"></span>
			</div>
		</div>
		<button type="submit" class="btn btn-primary mb-2">Create</button>
	</form>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}