@using Roomed.Data.Models.Enums;

@model IEnumerable<DetailedProfileViewModel>

@{
	ViewData["Title"] = "Guest profiles";
}

@section Topbar {
	<a class="btn btn-primary btn-sm rounded-pill mr-2" asp-area="" asp-controller="@Controllers.Profiles" asp-action="@Actions.Index">All Profiles</a>
	<a class="btn btn-success btn-sm rounded-pill mr-2" asp-area="" asp-controller="@Controllers.Profiles" asp-action="@Actions.Create">Create guest profile</a>
	<a class="btn btn-warning btn-sm rounded-pill" asp-area="" asp-controller="@Controllers.Profiles" asp-action="@Actions.Create">Search</a>
}

<div class="text-center">
	<h1 class="display-4 mb-4">Guest profiles</h1>
	@foreach (var profile in Model)
	{
		<div class="card rounded-lg mb-3">
			<div class="card-header bg-primary text-light">
				<b>@profile.FullName</b>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col col-auto text-center">
						<h5>@(profile?.Gender?.ToString() ?? "Gender")</h5>
						<partial name="_ProfileIconPartial" 
							model="@new ProfileIconViewModel() { Gender = profile.Gender, Width = 50, Height = 50}" />
					</div>
					<div class="col col align-self-center text-left">
						@if (profile.Nationality == null || profile.Birthdate == null)
						{
							<a asp-area="" asp-controller="@Controllers.Profiles" asp-action="Edit" asp-route-id="@profile.Id">Please complete the profile.</a>
						}
						else
						{
							<p class="card-text">The person is <b>@profile.Nationality</b> and is born in <b>@profile.Birthdate</b>.</p>
						}

						@if (profile.Address == null)
						{
							<a asp-area="" asp-controller="@Controllers.Profiles" asp-action="Edit" asp-route-id="@profile.Id">Please add an address.</a>
						}
						else
						{
							<p class="card-text">His address is <b>@profile.Address</b></p>
						}
					</div>
					<div class="col-2">
						<div class="btn-group-vertical">
							<a class="btn btn-success mb-1 rounded" asp-area="" asp-controller="@Controllers.Profiles" asp-action="@Actions.Details" asp-route-id="@profile.Id">Details</a>
							<a class="btn btn-warning mb-1 rounded" asp-area="" asp-controller="@Controllers.Profiles" asp-action="@Actions.Edit" asp-route-id="@profile.Id">Edit</a>
							<form method="get" asp-area="" asp-controller="@Controllers.Profiles" asp-action="@Actions.Delete" asp-route-id="@profile.Id">
								<button class="btn btn-danger mb-1 rounded">Delete</button>
								<input type="hidden" readonly value="@profile.Id" asp-for="@profile.Id" />
								<input type="hidden" readonly value="@profile.FirstName" asp-for="@profile.FirstName" />
								<input type="hidden" readonly value="@profile.MiddleName" asp-for="@profile.MiddleName" />
								<input type="hidden" readonly value="@profile.LastName" asp-for="@profile.LastName" />
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>
